.note {
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 2px 5px #ccc;
  padding: 10px;
  width: 240px;
  margin: 16px;
  float: left;
}
.note h1 {
  font-size: 1.1em;
  margin-bottom: 6px;
}
.note p {
  font-size: 1.1em;
  margin-bottom: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.note button {
  position: relative;
  float: right;
  margin-right: 10px;
  color: #f5ba13;
  border: none;
  width: 36px;
  height: 36px;
  cursor: pointer;
  outline: none;
}

.note .upd:hover {
  color: rgb(245, 225, 46);
}

.note .del:hover {
  color: rgb(236, 86, 86);
}

.input {
  width: 100%;
  border: none;
  padding: 4px;
  outline: none;
  font-size: 1.2em;
  font-family: inherit;
  resize: none;
}
.input::-webkit-scrollbar {
  display: none;
}
.input {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.btn-container {
  float: right;
  margin-right: 38px;
}
.btn {
  margin-left: 10px;
  border: none;
  height: 36px;
  cursor: pointer;
  outline: none;
  background: #f5ba13;
  color: #fff;
}
.btn:hover {
  background-color: rgb(245, 225, 46);
  color: #fff;
}
