.login {
  display: grid;
  place-items: center;
  width: 100vw;
  height: 100vh;
}

.login__container {
  padding: 0 80px;
  padding-top: 60px;
  text-align: center;
  background-color: white;
  border-radius: 10px;
  box-shadow: -1px 4px 20px -6px rgba(0, 0, 0, 0.75);
}

.login__container > img {
  object-fit: contain;
  height: 150px;
  margin-bottom: 30px;
}

.login__container > button {
  margin-top: 25px;
  text-transform: inherit !important;
  background-color: #f5ba13;
  color: white;
  margin-bottom: 50px;
}

.login__container > button :hover {
  color: #ebbf48;
  background-color: #dcf8c6;
}

.copyright {
  opacity: 0.5;
}
